.fullscreen {
    position: absolute;
    top: 0; /* Header Height */
    bottom: 0; /* Footer Height */
    left: 0;
    width: 100%;
}

.map {
    overflow: hidden;
    height: 100%;
}

.gifts {
    float: right;
    width: 400px;
    height: 100%;
    background: #333333;
}

.gifts li {
    font: "HelveticaNeue-Light", sans-serif;
    font-size: 20px;
    color: whitesmoke;
}

.hidden {
    display:none;
}
